body{
    background: #C0B283;

}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
p{
    display: inline-block;
    font-size: 14px;
    color: #f4f4f4;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
h2 ,form{
    color: #f4f4f4;
}

.coffee {
    font-size: 25px;
}

.bgcolor {
    background: #F4F4F4;
    color: #C0B283;
}

.light-orange {
    background-color: #F4F4F4;


}
.nav-link{
    color: #373737;
}
.btn-warning{
    color: white;
    background-color: #373737;
    border-color: #C0B283;
}
.btn-warning:hover {
    background-color: #C0B283;
}
.nav-link:hover {
    color: #C0B283;
}

.cup {
    width:152px;
    height:152px;
    background:#dedede;
    border-radius:50%;
    position:absolute;
    left:30%;
    margin-left:-38px;
    top:365px;
    box-shadow:-4px -1px 0 rgba(0,0,0,0.2);
}

.cup:after{
    content:"";
    width:66px;
    height:66px;
    position:absolute;
    border-radius:50%;
    background:linear-gradient(-45deg, #cbcbcb, #f2f2f2 );
    left:50%;
    margin-left:-33px;
    top:5px;
}

.liquid{
    width:90px;
    height:90px;
    background:#613317;
    /*background-image: linear-gradient(15deg, transparent 0px, transparent 29px, rgba(255,255,255,0.05) 29px, rgba(255,255,255,0.05) 47px);*/
    border-radius:50%;
    position:absolute;
    left:40%;
    margin-left:-25px;
    z-index:1;
    top:35%;
    margin-top:-26px;
    border:3px solid #e9e9e9;
    box-shadow:-3px 2px 0 rgba(0,0,0,0.1);
    transform:rotate(30deg);
    transition:transform 0.3s;
}

.liquid:after{ /*assa*/
    content:"";
    width:15px;
    height:8px;
    position:absolute;
    left:-19px;
    top:18px;
    background:linear-gradient(90deg, #d6d6d6, #aeaeae);
    box-shadow:0px 2px 0 rgba(0,0,0,0.2);
}

.liquid:before {
    content:"";
    width:47px;
    height:47px;
    background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
    background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -webkit-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -webkit-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
    background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -moz-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -moz-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
    position:absolute;
    left:0;
    border-radius:50%;
}
.liquid:hover .coffee {
    transform:rotate(15deg);
}

.smoke {
    width:70px;
    height:185px;
    background:;
    position:absolute;
    left:35%;
    margin-left:-40px;
    top:225px;
    background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -webkit-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
    background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -moz-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
    background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
    animation:bk 11s infinite ;
}

.smoke:after {
    content:"";
    width:100px;
    height:100px;
    background:;
    position:absolute;
    background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
    background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
    background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
    animation:bk 2s 1s infinite;
}


@keyframes bk {
    0%{ background-position:0 0; opacity:0; }
    15%, 85% { opacity:1;}
    100%{ background-position:-20px -25px, -5px -25px, 0px -25px, 0px -25px; opacity:0;}
}

/*added for process order*/
.orderStep{
    position: relative;
    top: 100px;
    left: 90px;
    height: 155px;
    width: 155px;
    background: #EE964B;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 40px 0;
    color: #373737;
}
.orderStep>p{
    color: #373737;
    font-family: Impact, Charcoal, sans-serif;
    font-size: larger;
}

.saturn{
    height: 50px;
    left: 79px;;
    position: absolute;
    top: -11px;
    z-index: 1;
}
.stepOne{
    position: absolute;
    left: 113px;
    top: 109px;
}

/*spinner*/
.loader {
    font-size: 10px;
    margin: 76px 66px;
    width: 22em;
    height: 22em;
    border-radius: 50%;
    background: linear-gradient(to right, #A44200 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #A44200;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #69140E;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(-360deg);
    }
}



.gooey{
    background-image: linear-gradient(120deg, #A44200 0%, #EE964B 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 150px; height: 144px;
    animation: morph 3s linear infinite;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
}
.gooey:before,
.gooey:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0; top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
    background-image: linear-gradient(120deg, rgba(0,67,255,.3) 0%, rgba(0,103,255,.4) 100%);
}

.gooey:before{
    animation: morph 3s linear infinite;
    opacity: .05;
    animation-duration: 1.5s;
}

.gooey:after{
    animation: morph 3s linear infinite;
    animation-delay: 400ms;
    opacity: .05;
    content: "";
    line-height: 120px;
    text-indent: -21px;
}

@keyframes morph{
    0%,100%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        opacity: .12;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

@keyframes fadeIn {
    100% {
        transform: scale(1.03);
        opacity: 0;
    }
}

/*ARROW*/
#arrowAnim {
    position: absolute;
    top: 136px;
    left :176px;
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    z-index: -1;
}

.arrow {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid;
    border-color: #A44200 transparent transparent #A44200;
    transform: rotate(-45deg);
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(15vw); }
    20% { opacity:1; transform: translateX(9vw); }
    80% { opacity:1; transform: translateX(-9vw); }
    100% { opacity:0; transform: translateX(-15vw); }
}
@keyframes slide {
    0% { opacity:0; transform: translateX(15vw); }
    20% { opacity:1; transform: translateX(9vw); }
    80% { opacity:1; transform: translateX(-9vw); }
    100% { opacity:0; transform: translateX(-15vw); }
}